 <div style='padding: 0; margin: 0; line-height: 1.2;'> <h1 style='margin: 0;'><b><font color='blue'>Performing ETL on Small Data</font></b></h1> <p style='margin: 0;'><b>1. Exploratory Analysis</b><br> <p style='margin: 0;'><b>2. Connecting to the Database</b><br>  - Creating a New Table.</p> <p style='margin: 0;'><b>3. Collecting Data from Different Sources</b><br>  - Uploading the Data from a CSV file<br><p style='margin: 0;'><b>4. Transforming the data</b><br><p style='margin: 0;'><b>5. Using API to Pull the Exchange Rate Data for Each Market from the Web</b><br><p style='margin: 0;'><b>6. Updating the Table in the Database</b><br></div>

In [11]:
#conda update jupyter
#%load_ext sql

In [12]:
#pip install psycopg2
#pip install sqlalchemy

In [13]:
import psycopg2
import pandas as pd
import sqlalchemy
from sqlalchemy import types
from sqlalchemy import create_engine

##<font color='blue'>Loading CSV in Dataframe</font>

In [15]:
df = pd.read_csv (r'C:\Users\Ashwini\Ably\transactions.csv')

In [16]:
df.head()

,transaction_id,user,timestamp,tz,currency,value,cleared,country
0,4afd43a4-7833-4883-aa4f-1506cba532ce,47735,2/2/2022,Europe/Paris,USD,4999.8415,False,Canada
1,1777cfe1-0ab7-4c57-94f7-99c58d8a419c,76257,1/11/2022,Europe/Paris,GBP,3062.9059,False,Canada
2,f19e7c82-7b90-401d-a6af-fef1a7ecfbe7,30358,1/11/2022,US/Pacific,USD,3130.5393,False,France
3,d3e7b79b-fb99-434f-9a44-04df707f3741,24417,2/19/2022,US/Pacific,US Dollars,1091.9885,True,Canada
4,fe816fbb-9f09-4bd7-bdb4-46dfdbf4888a,56415,2/9/2022,US/Pacific,EUR,5427.2242,True,Portugal

In [17]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [18]:
df['timestamp'] = df['timestamp'].dt.strftime('%d/%m/%Y')

In [19]:
print(df)

                           transaction_id   user   timestamp             tz  \
0    4afd43a4-7833-4883-aa4f-1506cba532ce  47735  02/02/2022   Europe/Paris
1    1777cfe1-0ab7-4c57-94f7-99c58d8a419c  76257  11/01/2022   Europe/Paris
2    f19e7c82-7b90-401d-a6af-fef1a7ecfbe7  30358  11/01/2022     US/Pacific
3    d3e7b79b-fb99-434f-9a44-04df707f3741  24417  19/02/2022     US/Pacific
4    fe816fbb-9f09-4bd7-bdb4-46dfdbf4888a  56415  09/02/2022     US/Pacific
..                                    ...    ...         ...            ...
865  69b5ff88-b2c7-4122-b560-74c968632e62  44868  11/01/2022     US/Eastern
866  898881ce-d7fc-418b-9eb8-74d64d4a0a37  47819  20/01/2022     US/Eastern
867  42aaae24-d50b-485b-a7ad-e58442aec87a  60535  20/01/2022  Europe/London
868  539759c5-5303-4e48-b2a8-d6ba4797b15c  62664  13/01/2022     US/Eastern
869  14235c77-8ae6-4b0c-8626-ca8f0b86f97a  94520  08/02/2022     US/Pacific

       currency      value  cleared        country
0           USD  4999.8415    False         Canada
1           GBP  3062.9059    False         Canada
2           USD  3130.5393    False         France
3    US Dollars  1091.9885     True         Canada
4           EUR  5427.2242     True       Portugal
..          ...        ...      ...            ...
865        Euro  7391.7487    False         France
866         GBP  5732.5709    False         France
867         EUR  6120.5154     True  United States
868         GBP  9508.1657     True       Portugal
869         USD  1161.6215    False       Portugal

[870 rows x 8 columns]

##<font color='blue'>Connecting to Postgresql Database</font>

In [14]:
try:
    conn = psycopg2.connect("dbname='mydb' user='postgres' host='localhost' password='Ashwini@12'")
except:
    print("Database Connection Error")
conn.autocommit = True
cursor = conn.cursor()

##<font color='blue'>Loading data into the Database</font>

In [20]:
cursor.execute("DROP TABLE IF EXISTS transaction_raw")

In [21]:
engine = create_engine('postgresql://postgres:Ashwini@12@localhost/mydb')
df.to_sql('transaction_raw',con= engine,if_exists='replace',index=False,
           dtype ={'transaction_id': sqlalchemy.types.VARCHAR(50),
                     'user' : sqlalchemy.types.INTEGER,
                     'timestamp' :sqlalchemy.types.Date,
                     'tz' :sqlalchemy.types.VARCHAR(length=20),
                     'currency':sqlalchemy.types.VARCHAR(length=10),
                     'value' :sqlalchemy.types.Numeric,
                     'cleared' :sqlalchemy.types.Boolean,
                     'country':sqlalchemy.types.VARCHAR(length=50)})

In [22]:
cursor.execute("DROP TABLE IF EXISTS transaction")
sql="""Create Table transaction as 
        Select * from transaction_raw
        where value is not null"""
cursor.execute(sql)

##<font color='blue'>Transforming the data</font>

In [23]:
sql = """SELECT table_name, column_name, data_type 
         FROM information_schema.columns
         WHERE table_name = 'transaction'"""
cursor.execute(sql)
for i in cursor.fetchall():
    print(i)

('transaction', 'transaction_id', 'character varying')
('transaction', 'user', 'integer')
('transaction', 'timestamp', 'date')
('transaction', 'tz', 'character varying')
('transaction', 'currency', 'character varying')
('transaction', 'value', 'numeric')
('transaction', 'cleared', 'boolean')
('transaction', 'country', 'character varying')

In [24]:
s = """ALTER TABLE transaction
       ALTER COLUMN value TYPE Numeric(10,2);
       """
cursor.execute(s)

In [25]:
up = """UPDATE transaction
        SET currency = 'EUR' 
        WHERE currency IN ('Euro')"""
cursor.execute(up)
upd = """UPDATE transaction
        SET currency = 'USD' 
        WHERE currency IN ('US Dollars')"""
cursor.execute(upd)

In [26]:
s0 = """UPDATE transaction
        SET currency = 'GBP' 
        WHERE currency isnull"""
cursor.execute(s0)

In [28]:
s2 = """UPDATE transaction
        SET country = 'United Kingdom'
        where country is null"""
cursor.execute(s2)

s3 = """select * from transaction where country is null
        """
cursor.execute(s3)
for i in cursor.fetchall():
    print(i)

##<font color='blue'>Extracting from API</font>

In [29]:
import json,requests

In [30]:
response = requests.get('https://v6.exchangerate-api.com/v6/435a57dc789ddcb46282a1b6/latest/GBP')

In [31]:
c_rates = response.text

In [32]:
rates_d = json.loads(c_rates)

In [33]:
rates_d

{'result': 'success',
 'documentation': 'https://www.exchangerate-api.com/docs',
 'terms_of_use': 'https://www.exchangerate-api.com/terms',
 'time_last_update_unix': 1649289602,
 'time_last_update_utc': 'Thu, 07 Apr 2022 00:00:02 +0000',
 'time_next_update_unix': 1649376002,
 'time_next_update_utc': 'Fri, 08 Apr 2022 00:00:02 +0000',
 'base_code': 'GBP',
 'conversion_rates': {'GBP': 1,
  'AED': 4.802,
  'AFN': 115.9079,
  'ALL': 145.4647,
  'AMD': 625.6295,
  'ANG': 2.3405,
  'AOA': 587.6595,
  'ARS': 146.0767,
  'AUD': 1.7329,
  'AWG': 2.3405,
  'AZN': 2.219,
  'BAM': 2.3451,
  'BBD': 2.6151,
  'BDT': 111.6159,
  'BGN': 2.3448,
  'BHD': 0.4916,
  'BIF': 2658.8169,
  'BMD': 1.3076,
  'BND': 1.7785,
  'BOB': 8.9907,
  'BRL': 6.1158,
  'BSD': 1.3076,
  'BTN': 98.9244,
  'BWP': 15.132,
  'BYN': 3.8194,
  'BZD': 2.6151,
  'CAD': 1.6366,
  'CDF': 2604.6342,
  'CHF': 1.22,
  'CLP': 1029.0028,
  'CNY': 8.3177,
  'COP': 4882.2612,
  'CRC': 862.9364,
  'CUP': 31.3816,
  'CVE': 132.21,
  'CZK': 29.3475,
  'DJF': 232.3821,
  'DKK': 8.9451,
  'DOP': 71.9783,
  'DZD': 187.5322,
  'EGP': 23.8889,
  'ERN': 19.6135,
  'ETB': 66.1536,
  'EUR': 1.199,
  'FJD': 2.7225,
  'FKP': 1.0,
  'FOK': 8.9451,
  'GEL': 4.032,
  'GGP': 1.0,
  'GHS': 10.1833,
  'GIP': 1.0,
  'GMD': 70.2263,
  'GNF': 11621.1366,
  'GTQ': 10.0162,
  'GYD': 272.0858,
  'HKD': 10.2544,
  'HNL': 31.9327,
  'HRK': 9.034,
  'HTG': 139.6349,
  'HUF': 454.0589,
  'IDR': 18856.2703,
  'ILS': 4.2295,
  'IMP': 1.0,
  'INR': 98.9267,
  'IQD': 1897.8146,
  'IRR': 54978.5677,
  'ISK': 169.1745,
  'JEP': 1.0,
  'JMD': 200.8111,
  'JOD': 0.9271,
  'JPY': 161.9296,
  'KES': 151.384,
  'KGS': 112.2076,
  'KHR': 5265.3112,
  'KID': 1.7329,
  'KMF': 589.8793,
  'KRW': 1590.7535,
  'KWD': 0.3918,
  'KYD': 1.0896,
  'KZT': 609.1652,
  'LAK': 17005.4689,
  'LBP': 1971.1572,
  'LKR': 392.7551,
  'LRD': 199.4817,
  'LSL': 19.1612,
  'LYD': 6.0762,
  'MAD': 12.465,
  'MDL': 24.0046,
  'MGA': 4746.868,
  'MKD': 73.8951,
  'MMK': 2373.4452,
  'MNT': 3920.1858,
  'MOP': 10.5617,
  'MRU': 47.316,
  'MUR': 57.8018,
  'MVR': 20.086,
  'MWK': 1073.3449,
  'MXN': 26.283,
  'MYR': 5.5034,
  'MZN': 83.5337,
  'NAD': 19.1612,
  'NGN': 543.213,
  'NIO': 46.6857,
  'NOK': 11.4814,
  'NPR': 158.279,
  'NZD': 1.8872,
  'OMR': 0.5028,
  'PAB': 1.3076,
  'PEN': 4.8345,
  'PGK': 4.6013,
  'PHP': 67.0279,
  'PKR': 242.6928,
  'PLN': 5.5685,
  'PYG': 9215.36,
  'QAR': 4.7595,
  'RON': 5.9218,
  'RSD': 141.1487,
  'RUB': 108.18,
  'RWF': 1384.4274,
  'SAR': 4.9034,
  'SBD': 10.2946,
  'SCR': 18.6783,
  'SDG': 580.1156,
  'SEK': 12.3709,
  'SGD': 1.7786,
  'SHP': 1.0,
  'SLL': 15387.5438,
  'SOS': 752.2892,
  'SRD': 26.9133,
  'SSP': 556.1966,
  'STN': 29.376,
  'SYP': 3282.9905,
  'SZL': 19.1612,
  'THB': 43.936,
  'TJS': 16.354,
  'TMT': 4.5817,
  'TND': 3.6795,
  'TOP': 2.9077,
  'TRY': 19.26,
  'TTD': 9.1939,
  'TVD': 1.7329,
  'TWD': 37.4586,
  'TZS': 3037.0191,
  'UAH': 38.3097,
  'UGX': 4645.1579,
  'USD': 1.3076,
  'UYU': 54.1177,
  'UZS': 14912.5806,
  'VES': 5.7565,
  'VND': 29885.8054,
  'VUV': 144.6349,
  'WST': 3.3342,
  'XAF': 786.5057,
  'XCD': 3.5304,
  'XDR': 0.9536,
  'XOF': 786.5057,
  'XPF': 143.0815,
  'YER': 327.0682,
  'ZAR': 19.1617,
  'ZMW': 23.032,
  'ZWL': 190.7136}}

##<font color='blue'>Updating the Table</font>

In [34]:
cursor.execute("DROP TABLE IF EXISTS exchange_rate")

In [35]:
sql4 = """create table exchange_rate(currency varchar, rate Numeric(10,2))"""
cursor.execute(sql4)

In [36]:
sql6 = """INSERT INTO exchange_rate VALUES(%s, %s)"""

for record in rates_d["conversion_rates"].items():
    cursor.execute(sql6, [record[0], record[1]])

In [37]:
sql9 = """select * from exchange_rate """
cursor.execute(sql9)
for i in cursor.fetchall():
    print(i)

('GBP', Decimal('1.00'))
('AED', Decimal('4.80'))
('AFN', Decimal('115.91'))
('ALL', Decimal('145.46'))
('AMD', Decimal('625.63'))
('ANG', Decimal('2.34'))
('AOA', Decimal('587.66'))
('ARS', Decimal('146.08'))
('AUD', Decimal('1.73'))
('AWG', Decimal('2.34'))
('AZN', Decimal('2.22'))
('BAM', Decimal('2.35'))
('BBD', Decimal('2.62'))
('BDT', Decimal('111.62'))
('BGN', Decimal('2.34'))
('BHD', Decimal('0.49'))
('BIF', Decimal('2658.82'))
('BMD', Decimal('1.31'))
('BND', Decimal('1.78'))
('BOB', Decimal('8.99'))
('BRL', Decimal('6.12'))
('BSD', Decimal('1.31'))
('BTN', Decimal('98.92'))
('BWP', Decimal('15.13'))
('BYN', Decimal('3.82'))
('BZD', Decimal('2.62'))
('CAD', Decimal('1.64'))
('CDF', Decimal('2604.63'))
('CHF', Decimal('1.22'))
('CLP', Decimal('1029.00'))
('CNY', Decimal('8.32'))
('COP', Decimal('4882.26'))
('CRC', Decimal('862.94'))
('CUP', Decimal('31.38'))
('CVE', Decimal('132.21'))
('CZK', Decimal('29.35'))
('DJF', Decimal('232.38'))
('DKK', Decimal('8.95'))
('DOP', Decimal('71.98'))
('DZD', Decimal('187.53'))
('EGP', Decimal('23.89'))
('ERN', Decimal('19.61'))
('ETB', Decimal('66.15'))
('EUR', Decimal('1.20'))
('FJD', Decimal('2.72'))
('FKP', Decimal('1.00'))
('FOK', Decimal('8.95'))
('GEL', Decimal('4.03'))
('GGP', Decimal('1.00'))
('GHS', Decimal('10.18'))
('GIP', Decimal('1.00'))
('GMD', Decimal('70.23'))
('GNF', Decimal('11621.14'))
('GTQ', Decimal('10.02'))
('GYD', Decimal('272.09'))
('HKD', Decimal('10.25'))
('HNL', Decimal('31.93'))
('HRK', Decimal('9.03'))
('HTG', Decimal('139.63'))
('HUF', Decimal('454.06'))
('IDR', Decimal('18856.27'))
('ILS', Decimal('4.23'))
('IMP', Decimal('1.00'))
('INR', Decimal('98.93'))
('IQD', Decimal('1897.81'))
('IRR', Decimal('54978.57'))
('ISK', Decimal('169.17'))
('JEP', Decimal('1.00'))
('JMD', Decimal('200.81'))
('JOD', Decimal('0.93'))
('JPY', Decimal('161.93'))
('KES', Decimal('151.38'))
('KGS', Decimal('112.21'))
('KHR', Decimal('5265.31'))
('KID', Decimal('1.73'))
('KMF', Decimal('589.88'))
('KRW', Decimal('1590.75'))
('KWD', Decimal('0.39'))
('KYD', Decimal('1.09'))
('KZT', Decimal('609.17'))
('LAK', Decimal('17005.47'))
('LBP', Decimal('1971.16'))
('LKR', Decimal('392.76'))
('LRD', Decimal('199.48'))
('LSL', Decimal('19.16'))
('LYD', Decimal('6.08'))
('MAD', Decimal('12.47'))
('MDL', Decimal('24.00'))
('MGA', Decimal('4746.87'))
('MKD', Decimal('73.90'))
('MMK', Decimal('2373.45'))
('MNT', Decimal('3920.19'))
('MOP', Decimal('10.56'))
('MRU', Decimal('47.32'))
('MUR', Decimal('57.80'))
('MVR', Decimal('20.09'))
('MWK', Decimal('1073.34'))
('MXN', Decimal('26.28'))
('MYR', Decimal('5.50'))
('MZN', Decimal('83.53'))
('NAD', Decimal('19.16'))
('NGN', Decimal('543.21'))
('NIO', Decimal('46.69'))
('NOK', Decimal('11.48'))
('NPR', Decimal('158.28'))
('NZD', Decimal('1.89'))
('OMR', Decimal('0.50'))
('PAB', Decimal('1.31'))
('PEN', Decimal('4.83'))
('PGK', Decimal('4.60'))
('PHP', Decimal('67.03'))
('PKR', Decimal('242.69'))
('PLN', Decimal('5.57'))
('PYG', Decimal('9215.36'))
('QAR', Decimal('4.76'))
('RON', Decimal('5.92'))
('RSD', Decimal('141.15'))
('RUB', Decimal('108.18'))
('RWF', Decimal('1384.43'))
('SAR', Decimal('4.90'))
('SBD', Decimal('10.29'))
('SCR', Decimal('18.68'))
('SDG', Decimal('580.12'))
('SEK', Decimal('12.37'))
('SGD', Decimal('1.78'))
('SHP', Decimal('1.00'))
('SLL', Decimal('15387.54'))
('SOS', Decimal('752.29'))
('SRD', Decimal('26.91'))
('SSP', Decimal('556.20'))
('STN', Decimal('29.38'))
('SYP', Decimal('3282.99'))
('SZL', Decimal('19.16'))
('THB', Decimal('43.94'))
('TJS', Decimal('16.35'))
('TMT', Decimal('4.58'))
('TND', Decimal('3.68'))
('TOP', Decimal('2.91'))
('TRY', Decimal('19.26'))
('TTD', Decimal('9.19'))
('TVD', Decimal('1.73'))
('TWD', Decimal('37.46'))
('TZS', Decimal('3037.02'))
('UAH', Decimal('38.31'))
('UGX', Decimal('4645.16'))
('USD', Decimal('1.31'))
('UYU', Decimal('54.12'))
('UZS', Decimal('14912.58'))
('VES', Decimal('5.76'))
('VND', Decimal('29885.81'))
('VUV', Decimal('144.63'))
('WST', Decimal('3.33'))
('XAF', Decimal('786.51'))
('XCD', Decimal('3.53'))
('XDR', Decimal('0.95'))
('XOF', Decimal('786.51'))
('XPF', Decimal('143.08'))
('YER', Decimal('327.07'))
('ZAR', Decimal('19.16'))
('ZMW', Decimal('23.03'))
('ZWL', Decimal('190.71'))

In [38]:
sql10 = """SELECT table_name, column_name, data_type 
           FROM information_schema.columns
           WHERE table_name = 'exchange_rate'"""
cursor.execute(sql10)
for i in cursor.fetchall():
    print(i)

('exchange_rate', 'currency', 'character varying')
('exchange_rate', 'rate', 'numeric')